## PyMongo Tutorial

1. Create an account at MongoDB atlus (it is free)
2. Create user and password for MongoDB users
3. Make sure that connection if open for any IP address

### 1. Create DataBase

To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

MongoDB will create the database if it does not exist, and make a connection to it.

**Example**

Create a database called "mydatabase":

In [70]:
# pip install pymongo
# pip install dnspython
# select python 3.6 and later

import pymongo
import dns

In [71]:
user = "blahblah"
password = "blhablha"

In [72]:
#myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [73]:
client = pymongo.MongoClient("mongodb+srv://" + \
                             user + ":" + password +\
                             "@cluster0-ui9hr.mongodb.net/test?" + \
                             "retryWrites=true&w=majority")

In [74]:
db = client.test

**Drop the database if already exist to make a place for bran new database**

In [75]:
#myclient.drop_database('mydatabase')

**Create new one**

In [76]:
#mydb = myclient["mydatabase"]

------------

**Check if Database Exists**

Remember: In MongoDB, a database is not created until it gets content, so if this is your first time creating a database, you should complete the next two chapters (create collection and create document) before you check if the database exists!

You can check if a database exist by listing all databases in you system:

**Example**

Return a list of your system's databases:

In [77]:
print(client.list_database_names())

['migration', 'test', 'admin', 'local']

In [78]:
#myclient.drop_database('mongopop')

Or you can check a specific database by name:

**Example**

Check if "mydatabase" exists:

In [79]:
dblist = client.list_database_names()
if "test" in dblist:
  print("The database exists.")

The database exists.

----------

### 2. Python MongoDB Create Collection

A collection in MongoDB is the same as a table in SQL databases.

**Creating a Collection**

To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist.

**Example**

Create a collection called "customers":

In [80]:
col = db["customers"]

***Important: In MongoDB, a collection is not created until it gets content!***

MongoDB waits until you have inserted a document before it actually creates the collection.

**Check if Collection Exists**

Remember: In MongoDB, a collection is not created until it gets content, so if this is your first time creating a collection, you should complete the next chapter (create document) before you check if the collection exists!

You can check if a collection exist in a database by listing all collections:

**Example**

Return a list of all collections in your database:

In [81]:
print(db.list_collection_names())

['customers']

Or you can check a specific collection by name:

**Example**

Check if the "customers" collection exists:

In [82]:
collist = db.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

The collection exists.

---------

### 3. Python MongoDB Insert Document

A document in MongoDB is the same as a record in SQL databases.

**Insert Into Collection**

To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

**Example**

Insert a record in the "customers" collection:

In [83]:
mydict = { "name": "John", "address": "Highway 37" }

x = col.insert_one(mydict)

**Return the _id Field**

The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

**Example**

Insert another record in the "customers" collection, and return the value of the _id field:

In [84]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = col.insert_one(mydict)
print(x.inserted_id)

5de1fa8e425a93da4a5587c8

If you do not specify an _id field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no _id field was specified, so MongoDB assigned a unique _id for the record (document).

**Insert Multiple Documents**

To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [85]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = col.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5de1fa8f425a93da4a5587c9'), ObjectId('5de1fa8f425a93da4a5587ca'), ObjectId('5de1fa8f425a93da4a5587cb'), ObjectId('5de1fa8f425a93da4a5587cc'), ObjectId('5de1fa8f425a93da4a5587cd'), ObjectId('5de1fa8f425a93da4a5587ce'), ObjectId('5de1fa8f425a93da4a5587cf'), ObjectId('5de1fa8f425a93da4a5587d0'), ObjectId('5de1fa8f425a93da4a5587d1'), ObjectId('5de1fa8f425a93da4a5587d2'), ObjectId('5de1fa8f425a93da4a5587d3'), ObjectId('5de1fa8f425a93da4a5587d4')]

The insert_many() method returns a InsertManyResult object, which has a property, inserted_ids, that holds the ids of the inserted documents.

**Insert Multiple Documents, with Specified IDs**

If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).

Remember that the values has to be unique. Two documents cannot have the same _id.

In [86]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = col.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

-----------------

### 4. Python MongoDB Find

In MongoDB we use the find and findOne methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.
Find One

To select data from a collection in MongoDB, we can use the find_one() method.

The find_one() method returns the first occurrence in the selection.

In [87]:
x = col.find_one()

print(x)

{'_id': ObjectId('5de1fa8e425a93da4a5587c7'), 'name': 'John', 'address': 'Highway 37'}

**Find All**

To select data from a table in MongoDB, we can also use the find() method.

The find() method returns all occurrences in the selection.

The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

No parameters in the find() method gives you the same result as SELECT * in MySQL.

**Example**

Return all documents in the "customers" collection, and print each document:

In [88]:
for x in col.find():
    print(x)

{'_id': ObjectId('5de1fa8e425a93da4a5587c7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de1fa8e425a93da4a5587c8'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5de1fa8f425a93da4a5587c9'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5de1fa8f425a93da4a5587ca'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cb'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cc'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cd'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5de1fa8f425a93da4a5587ce'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cf'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d4'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

**Return Only Some Fields**

The second parameter of the find() method is an object describing which fields to include in the result.

This parameter is optional, and if omitted, all fields will be included in the result.

In [89]:
for x in col.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

You are not allowed to specify both 0 and 1 values in the same object (except if one of the fields is the _id field). If you specify a field with the value 0, all other fields get the value 1, and vice versa:

**Example**

This example will exclude "address" from the result:

In [90]:
for x in col.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('5de1fa8e425a93da4a5587c7'), 'name': 'John'}
{'_id': ObjectId('5de1fa8e425a93da4a5587c8'), 'name': 'Peter'}
{'_id': ObjectId('5de1fa8f425a93da4a5587c9'), 'name': 'Amy'}
{'_id': ObjectId('5de1fa8f425a93da4a5587ca'), 'name': 'Hannah'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cb'), 'name': 'Michael'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cc'), 'name': 'Sandy'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cd'), 'name': 'Betty'}
{'_id': ObjectId('5de1fa8f425a93da4a5587ce'), 'name': 'Richard'}
{'_id': ObjectId('5de1fa8f425a93da4a5587cf'), 'name': 'Susan'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d0'), 'name': 'Vicky'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d1'), 'name': 'Ben'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d2'), 'name': 'William'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d3'), 'name': 'Chuck'}
{'_id': ObjectId('5de1fa8f425a93da4a5587d4'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

-------------------

### 5. Python MongoDB Query

**Filter the Result**

When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search.

In [59]:
myquery = { "address": "Park Lane 38" }

mydoc = col.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5de1f8f0425a93da4a5587c2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}:

**Example**

Find documents where the address starts with the letter "S" or higher:

In [60]:
myquery = { "address": { "$gt": "S" } }

mydoc = col.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5de1f8f0425a93da4a5587bc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

**Filter With Regular Expressions**

You can also use regular expressions as a modifier.

Regular expressions can only be used to query strings.

To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

**Example**

Find documents where the address starts with the letter "S":

In [62]:
myquery = { "address": { "$regex": "^S" } }

mydoc = col.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5de1f8f0425a93da4a5587bf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

------------

### 6. Python MongoDB Sort

**Sort the Result**

Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

**Example**

Sort the result alphabetically by name:

In [63]:
mydoc = col.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('5de1f8f0425a93da4a5587ba'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5de1f8f0425a93da4a5587be'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5de1f6ff425a93da4a5587b4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de1f7f5425a93da4a5587b6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de1f8e1425a93da4a5587b8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5de1f8e9425a93da4a5587b9'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

**Sort Descending**

Use the value -1 as the second parameter to sort descending.

sort("name", 1) #ascending
sort("name", -1) #descending

**Example**

Sort the result reverse alphabetically by name:

In [65]:
mydoc = col.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5de1f8f0425a93da4a5587c3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de1f8e9425a93da4a5587b9'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5de1f6ff425a93da4a5587b4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de1f7f5425a93da4a5587b6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de1f8e1425a93da4a5587b8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de1f8f0425a93da4a5587bb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5de1f8f0425a93da4a5587be'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5de1f8f0425a93da4a5587c2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5de1f8f0425a93da4a5587ba'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

-------------

### 7. Python MongoDB Delete Document

**Delete Document**

To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

Note: If the query finds more than one document, only the first occurrence is deleted.

In [67]:
myquery = { "address": "Mountain 21" }

col.delete_one(myquery)

**Delete Many Documents**

To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

**Example**

Delete all documents were the address starts with the letter S:

In [68]:
myquery = { "address": {"$regex": "^S"} }

x = col.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

**Delete All Documents in a Collection**
To delete all documents in a collection, pass an empty query object to the delete_many() method:

**Example**

Delete all documents in the "customers" collection:

In [69]:
x = col.delete_many({})

print(x.deleted_count, " documents deleted.")

25  documents deleted.

------------

### 8. Delete Collection

You can delete a table, or collection as it is called in MongoDB, by using the drop() method.
Example

Delete the "customers" collection:


The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.

In [104]:
mycol.drop()

----------

### 9. Python MongoDB Update

**Update Collection**

You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.

Note: If the query finds more than one record, only the first occurrence is updated.

The second parameter is an object defining the new values of the document.

**Example**

Change the address from "Valley 345" to "Canyon 123":

In [105]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

col.update_one(myquery, newvalues)

#print "customers" after the update:
for x in col.find():
  print(x)

**Update Many**

To update all documents that meets the criteria of the query, use the update_many() method.

**Example**

Update all documents where the address starts with the letter "S":

In [106]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = col.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

(0, 'documents updated.')

------

### 10. Limit the Result

To limit the result in MongoDB, we use the limit() method.

The limit() method takes one parameter, a number defining how many documents to return.

Consider you have a "customers" collection:

In [107]:
myresult = col.find().limit(5)

#print the result:
for x in myresult:
    print(x)